<div class="service-section">
    <div class="mt-4">
        <app-headers [activePage]="'service'"></app-headers>
    </div>
    <section class="container">
        <section class="card__container">
            <div class="card__bx" style="--clr: rgb(254, 241, 0, 0.8)">
                <div class="card__data">
                    <div class="card__icon">
                        <i class="fa-solid fa-paint-roller"></i>
                    </div>
                    <div class="card__content">
                        <h3>Print Media</h3>
                        <p>Elevate your brand with stunning print materials designed to captivate your audience.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card__bx" style="--clr: rgb(254, 241, 0, 0.8)">
                <div class="card__data">
                    <div class="card__icon">
                        <i class="fa-solid fa-file-video"></i>
                    </div>
                    <div class="card__content">
                        <h3>Them Creation</h3>
                        <p>Our design team crafts tailor-made themes that reflect your brand's personality and engage
                            your audience.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card__bx" style="--clr: rgb(254, 241, 0, 0.8)">
                <div class="card__data">
                    <div class="card__icon">
                        <i class="fa-solid fa-photo-film"></i>
                    </div>
                    <div class="card__content">
                        <h3>Corporate Video</h3>
                        <p>Bring your corporate story to life with our professional video production services.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card__bx" style="--clr: rgb(254, 241, 0, 0.8)">
                <div class="card__data">
                    <div class="card__icon">
                        <i class="fa-solid fa-bullhorn"></i>
                    </div>
                    <div class="card__content">
                        <h3>Branding</h3>
                        <p>Craft a distinct brand identity that stands out and resonates with your target audience</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card__bx" style="--clr: rgb(254, 241, 0, 0.8)">
                <div class="card__data">
                    <div class="card__icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="card__content">
                        <h3>Web Development</h3>
                        <p>Our skilled web developers build responsive, feature-rich websites tailored to meet your
                            business goals.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </section>

    </section>
</div>