<div class="service-section">
    <div class="mt-4">
        <app-headers [activePage]="'service'"></app-headers>
    </div>
    <div class="service-heading text-center my-5">
        <h1>Engage In Conversations With Our Awesome Services</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-5 service-image-card"><img class="service-image" src="../assets/alekhan_icon.png" /></div>
            <div class="col-sm-12 col-lg-5 service-card"><h1><span class="text-danger">T</span>heme Creation</h1></div>
            <div class="col-sm-12 col-lg-5 service-card"><h1><span class="text-danger">P</span>rint Media</h1></div>
            <div class="col-sm-12 col-lg-5 service-image-card"><img class="service-image" src="../assets/alekhan_icon.png" /></div>
            <div class="col-sm-12 col-lg-5 service-image-card"><img class="service-image" src="../assets/alekhan_icon.png" /></div>
            <div class="col-sm-12 col-lg-5 service-card"><h1><span class="text-danger">C</span>orporate Video</h1></div>
            <div class="col-sm-12 col-lg-5 service-card"><h1><span class="text-danger">B</span>randing</h1></div>
            <div class="col-sm-12 col-lg-5 service-image-card"><img class="service-image" src="../assets/alekhan_icon.png" /></div>
        </div>
    </div>
</div>