<nav class="navbar-area" role="navigation" aria-label="Main navigation">
    <img class="brand-logo" src="../assets/alekhan_icon_white.png" alt="Aalekhan Branding Logo" (click)="navigateToHome()" />
    
    <div class="about-popup" [ngClass]="{'service-nav': activePage}" (click)="openAboutUs()" (keydown.enter)="openAboutUs()" (keydown.space)="openAboutUs()" role="button" aria-label="Open menu" tabindex="0">
      <h1 class="menu-text">Menu</h1>
      <i class="fa-solid fa-bars" aria-hidden="true"></i>
    </div>
  </nav>