@import url(../home/home.component.scss);
.fa-bars {
    font-size: 30px;
}

.service-nav {
    color: rgb(254, 241, 0, 0.8) !important; 
}

.nav-link {
    color: rgb(254, 241, 0, 0.8)
}
.about-popup {
 h1, i {
    color: rgb(254, 241, 0, 0.8)
 }   
}
// .navbar-area {
//     background-color: #123751;
// }