<div class="header pt-4">
    <app-headers [activePage]="'projects'"></app-headers>
</div>
<div class="project-details-section">
    <div class="front-label">
        <img src="../../../assets/projects/ankur-label.jpg" alt="brand-label">
    </div>

    <div class="product-details container">
        <div class="row">
            <div class="col-9">
                <h3>Ankur Edible Oils</h3>
                <p>𝐖𝐡𝐞𝐧 𝐲𝐨𝐮𝐫 𝐜𝐥𝐢𝐞𝐧𝐭 𝐭𝐫𝐮𝐬𝐭𝐬 𝐲𝐨𝐮 𝐚𝐧𝐝 𝐠𝐢𝐯𝐞𝐬 𝐲𝐨𝐮 𝐞𝐧𝐨𝐮𝐠𝐡
                    𝐟𝐫𝐞𝐞𝐝𝐨𝐦
                    𝐭𝐨 𝐞𝐱𝐩𝐥𝐨𝐫𝐞 𝐲𝐨𝐮𝐫 𝐜𝐫𝐞𝐚𝐭𝐢𝐯𝐢𝐭𝐲; 𝐭𝐡𝐚𝐭 𝐬𝐲𝐧𝐞𝐫𝐠𝐲 𝐬𝐢𝐦𝐩𝐥𝐲
                    𝐫𝐞𝐟𝐥𝐞𝐜𝐭𝐬
                    𝐢𝐧 𝐭𝐡𝐞 𝐛𝐞𝐚𝐮𝐭𝐢𝐟𝐮𝐥 𝐨𝐮𝐭𝐜𝐨𝐦𝐞. 𝐓𝐡𝐞 𝐦𝐨𝐬𝐭 𝐫𝐞𝐜𝐞𝐧𝐭 𝐚𝐝𝐝𝐢𝐭𝐢𝐨𝐧 𝐭𝐨
                    𝐨𝐮𝐫
                    𝐫𝐞𝐟𝐫𝐞𝐬𝐡𝐢𝐧𝐠 𝐩𝐨𝐫𝐭𝐟𝐨𝐥𝐢𝐨 𝐢𝐬 𝐀𝐧𝐤𝐮𝐫 𝐄𝐝𝐢𝐛𝐥𝐞 𝐎𝐢𝐥𝐬' 𝐩𝐚𝐜𝐤𝐚𝐠𝐢𝐧𝐠
                    𝐝𝐞𝐬𝐢𝐠𝐧𝐬 𝐚𝐧𝐝 𝐥𝐨𝐠𝐨 𝐫𝐞𝐯𝐚𝐦𝐩𝐢𝐧𝐠. 𝐅𝐨𝐫 𝐝𝐢𝐟𝐟𝐞𝐫𝐞𝐧𝐭 𝐩𝐫𝐨𝐝𝐮𝐜𝐭𝐬, 𝐰𝐞
                    𝐮𝐬𝐞𝐝 𝐚 𝐫𝐞𝐟𝐫𝐞𝐬𝐡𝐢𝐧𝐠 𝐚𝐧𝐝 𝐜𝐨𝐦𝐩𝐚𝐭𝐢𝐛𝐥𝐞 𝐜𝐨𝐥𝐨𝐫 𝐩𝐚𝐥𝐞𝐭𝐭𝐞 𝐭𝐡𝐚𝐭
                    𝐛𝐫𝐨𝐮𝐠𝐡𝐭 𝐨𝐮𝐭 𝐭𝐡𝐞 𝐔𝐒𝐏 𝐞𝐥𝐞𝐦𝐞𝐧𝐭 𝐨𝐟 𝐞𝐚𝐜𝐡 𝐩𝐚𝐜𝐤 𝐚𝐧𝐝 𝐠𝐚𝐯𝐞 𝐭𝐡𝐞𝐦
                    𝐚
                    𝐟𝐫𝐞𝐬𝐡 𝐥𝐨𝐨𝐤 𝐭𝐡𝐚𝐭 𝐰𝐨𝐮𝐥𝐝 𝐞𝐚𝐬𝐢𝐥𝐲 𝐬𝐭𝐚𝐧𝐝 𝐨𝐮𝐭. 𝐖𝐞 𝐚𝐫𝐞 𝐠𝐫𝐚𝐭𝐞𝐟𝐮𝐥
                    𝐭𝐨 𝐨𝐮𝐫 𝐞𝐬𝐭𝐞𝐞𝐦𝐞𝐝 𝐜𝐥𝐢𝐞𝐧𝐭 - 𝐀𝐧𝐤𝐮𝐫 𝐄𝐝𝐢𝐛𝐥𝐞 𝐎𝐢𝐥𝐬 𝐟𝐨𝐫 𝐡𝐚𝐯𝐢𝐧𝐠
                    𝐟𝐚𝐢𝐭𝐡 𝐢𝐧 𝐮𝐬 𝐚𝐧𝐝 𝐠𝐢𝐯𝐢𝐧𝐠 𝐮𝐬 𝐭𝐡𝐢𝐬 𝐨𝐩𝐩𝐨𝐫𝐭𝐮𝐧𝐢𝐭𝐲.
                </p>
            </div>
            <div class="col-3">
                <div class="mb-2">
                    <strong>Client</strong>
                    <p class="mt-2">Ankur Edible Oils</p>
                </div>
                <div class="my-2">
                    <strong>Role</strong>
                    <p class="mt-2">Branding</p>
                </div>
                <div class="mb-2">
                    <strong>Share</strong>
                    <p class="mt-2"><i class="fa-brands fa-facebook-f"></i></p>
                </div>
            </div>
        </div>

        <div class="product-showcase container mt-5">
            <div class="brand-label-text">
                <h1 class="text-center">Packaging Design</h1>
                <div class="horizontal-line"></div>
            </div>
            <div class="row">
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/01_ANKUR_COTTONSEED_OIL_ABASANA.jpg" alt="">
                </div>
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/01_ANKUR_GROUNDNUT_OIL_ABASANA.jpg" alt="">
                </div>
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/01_ANKUR_SUNFIT_OIL_ABASANA.jpg" alt="">
                </div>
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/01_ANKUR_COTTONSEED_OIL_ABASANA.jpg" alt="">
                </div>
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/01_ANKUR_GROUNDNUT_OIL_ABASANA.jpg" alt="">
                </div>
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/01_ANKUR_SUNFIT_OIL_ABASANA.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="product-showcase mt-5 container">
            <div class="brand-label-text">
                <h1 class="text-center">Photoshoot</h1>
                <div class="horizontal-line"></div>
            </div>
            <div class="row">
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/2ANKUR_PHOTOSHOOT_ABASANA.jpg" alt="">
                </div>
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/4ANKUR_PHOTOSHOOT_ABASANA.jpg" alt="">
                </div>
                <div class="col-4 pl-0">
                    <img src="../../../assets/projects/5ANKUR_PHOTOSHOOT_ABASANA.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>