<div class="service-dialog">
    <div class="d-sm-flex">
        <div class="card__bx" style="--clr: rgb(254, 241, 0, 0.8)">
            <div class="card__data">
                <div class="card__icon">
                    <i class="fa-solid" [ngClass]="data.icon"></i>
                </div>
            </div>
        </div>
        <div class="service-description">
            <h2>{{data.service}} Description</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt temporibus earum officiis! Aspernatur
                aliquam quod est minima ipsum sed maiores consequatur minus doloremque deleniti. Vero neque quas quos
                ratione ipsa?</p>
        </div>
    </div>
</div>