<!-- LANDING PAGE -->
<div id="home" class="landing-page">

  <nav class="navbar navbar-expand-lg navbar-area">
    <img class="brand-logo" src="../assets/aalekhan-logo.jpg" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav mx-auto">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <a class="nav-item nav-link align-item-center h4 mx-5" href="#home">Home</a>
        <a class="nav-item nav-link align-item-center h4 mx-5" href="#service">Service</a>
        <a class="nav-item nav-link align-item-center h4 mx-5" href="#about-us" routerLink="/about"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">About Us</a>
        <a class="nav-item nav-link align-item-center h4 mx-5" href="#career">Career</a>
        <a class="nav-item nav-link align-item-center h4 mx-5" style="cursor: pointer;" data-toggle="modal"
          data-target="#openContactDialog">Contact Us</a>
      </div>
    </div>
      <!-- <button class="menu-icon float-right">
        <hr width="50%" height="5%" size="20px" color="black"/>
        <hr width="50%" height="5%" size="20px" color="black"/>
        <hr width="50%" height="5%" size="20px" color="black"/>
      </button> -->
    <div class="about-popup float-right mr-5" (click)="openAboutUs()" style="cursor: pointer;" data-toggle="modal"
    data-target="#openAboutDialog">&#10005;</div>
  </nav>
  <div class="landing-text overflow-hidden">
    <h1>Explore your brands with</h1>
    <p AutoType>Aalekhan Branding & Advertising..</p>
  </div>

  <video class="bg-video" id="bgVideo" autoplay loop muted>
    <source src="../assets/landing-video.mp4" type="video/mp4">
  </video>

  <button class="btn contact-btn" data-toggle="modal" data-target="#openContactDialog">Contact Us</button>
</div>

<!-- <div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
    </div>
  </div>
</div> -->

<!-- SERVICE SECTION -->
<div id="service" class="service">
  <div class="heading-text row">
    <p>Services</p>
  </div>
  <div class="row services-list">
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>THEM CREATION</b>
      <p class="mt-3">Uniformity always steals the heart and in terms of a brand, it enhances the comeliness. Whether the stationery elements, colour, theme music, caricature, or it can be any, we take care of the wholesome uniformity.</p>
    </div>
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>BRANDING</b>
      <p class="mt-3">Creativity is Connectivity-This line under our logo is not just to keep it, we believe it in the true sense. Whether it is words or design we try our best to make this line meaningful in every service.</p>
    </div>
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>BROCHURE</b>
      <p class="mt-3">Any revolution comes through the path of experience and after so many years of experience in brochures, designing theme-based brochures with size variations, and material options have been our forte.</p>
    </div>
  </div>
  <div class="row services-list">
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>VIDEOS</b>
      <p class="mt-3">To reach out to a specific audience, we make engaging videos with engaging content, effective voice-overs & background music. Specifically in a lesser time, delivering a message that is too creatively is a smart task.</p>
    </div>
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>DIGITAL MARKETING</b>
      <p class="mt-3">Keeping the current scenario in mind, we are emphasizing digital as a priority as it reaches every possible target audience. With the help of skillful designers and coordinators, we have also gotten its benefit in a short time.</p>
    </div>
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>PRINT MEDIA</b>
      <p class="mt-3">While advertising, print is considered as the instinct because any advertising campaign is incomplete without print media advertising. And we do it with the intention that the ad will also sink into the hearts of people along with the taste of tea in the morning.</p>
    </div>
  </div>
  <div class="row services-list">
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>PROFILE</b>
      <p class="mt-3">Be it the creative design, content, or material, Kalavid is known to deliver unmatchable profile service. Because we believe it justifies the brand in the most elaborative way.</p>
    </div>
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>CONTENT WRITING</b>
      <p class="mt-3">Creative content always fascinates the reader, and we always intend to create a gaga over the market, whether there is hoarding, newspapers, brochures, or social media.</p>
    </div>
    <div class="col-3 s-list">
      <i class="fa-regular fa-bullseye-arrow fa-2xs"></i>
      <b>BRAND IDENTITY</b>
      <p class="mt-3">Creating a brand identity is all about making space in the heart & mind of the audience, and we have been doing it for a long.</p>
    </div>
  </div>
</div>

<!-- CLIENT SECTION -->
<!-- <div class="carousel mt-4">
  <div class="heading-text row">
    <p>Clients Testimonial</p>
  </div>
  <div class="client-list">
    <div class="clinet-slide" *ngFor="let item of carouselItems">
      <div class="row text-center">
        <div class="col-4">
          <img class="client-img" [src]="item.image">
        </div>
        <div class="col-7 client-detail">
          <b class="">{{item.name}}</b><span class="my-3"><i></i><i></i><i></i><i></i></span>
          <p class="mt-3">{{item.details}}</p><span class="float-right"><i></i><i></i><i></i><i></i></span>
        </div>
      </div>
    </div>
  </div>
  <button class="swipe-button left" (click)="previousSlide()">&#8249;</button>
  <button class="swipe-button right" (click)="nextSlide()">&#8250;</button>
</div> -->

<!-- MARQUEE SECTION -->
<div class="marquee mt-5">
        <marquee class="marquee-text" behavior = "alternate" scrollamount = "20" width="100%" direction="right">- Let's Create something awesome together! - Let's Create something awesome together! - Let's Create something awesome together! - Let's Create something awesome together! - Let's Create something awesome together! </marquee>
        <marquee class="marquee-text" behavior = "alternate" scrollamount = "20" width="100%" direction="left">- Let's Create something awesome together! - Let's Create something awesome together! - Let's Create something awesome together! - Let's Create something awesome together! - Let's Create something awesome together! - Let's Create something awesome together!</marquee>
</div>

<!-- Footer  -->
<div class="footer-section">
  <div class="row">
    <div class="col-4 info-section">
      <img class="brand-logo-footer" src="../assets/aalekhan-logo.jpg" />
      <p class="address-info">Shree complex 502, Limbda Chowk, <br>
        Gondal Road Rajkot - 360004 <br>
        +91 94295 25035</p>
    </div>
    <div class="col-2">
      <ul class="footer-list">
        <li class="mb-4">
          <h4>Navigation</h4>
        </li>
        <li>Home</li>
        <li>Service</li>
        <li>About Us</li>
        <li>Career</li>
        <li>Contact-us</li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="footer-list">
        <li class="mb-4">
          <h4>About</h4>
        </li>
        <li>Journey</li>
        <li>Values</li>
        <li>Culture</li>
        <li>Team</li>
        <li>Testimonial</li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="footer-list">
        <li class="mb-4">
          <h4>Services</h4>
        </li>
        <li>Strategy</li>
        <li>Branding</li>
        <li>UI/UX</li>
        <li>Graphics</li>
        <li>Advertising</li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="footer-list">
        <li class="mb-4">
          <h4>Others</h4>
        </li>
        <li>Blogs</li>
        <li>Contact</li>
        <li>Career</li>
        <li>Reviews</li>
        <li>Privacy & Terms</li>
      </ul>
    </div>
  </div>
  <p class="copyright-text">@2023 Copyright <span> Aalekhan Branding & Advertising.</span></p>
</div>

<!-- <router-outlet></router-outlet> -->

<!-- Contact-us Form -->
<div class="modal fade" id="openContactDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content contact-dialog">
      <div class="modal-header text-center justify-content-center">
        <h4 class="modal-title">Get In Touch With Our Team</h4>
      </div>
      <form class="example-form mt-5" [formGroup]="contactForm">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Enter Your Name" formControlName="name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Your Email" formControlName="email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Enter Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </form>
      <div class="dialog-footer">
        <button type="button" class="btn close-btn" data-dismiss="modal" (click)="closeModel()">CLOSE</button>
        <button type="button" class="btn submit-btn" (click)="submitForm()">SUBMIT</button>
      </div>
    </div>
  </div>
</div>


<!-- ABOUT US DIALOG -->
<div class="modal fade" id="openAboutDialog" tabindex="-1" role="dialog" aria-labelledby="openAboutDialogTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen">
    <div class="modal-content about-model">
      <div class="row">
        <img class="brand-logo" src="../assets/aalekhan-logo.jpg" />
      </div>
      <div class="row">
        <div class="col-6">
          <ul class="about-list">
            <li>About</li>
            <li>Project</li>
            <li>Team</li>
            <li>Stories</li>
            <li>Careers</li>
          </ul>
        </div>
        <div class="col-6">
          <ul class="about-list">
            <li>Project</li>
            <li>Experties</li>
            <li>Clients</li>
            <li>Stories</li>
            <li>Blogs</li>
          </ul>
        </div>
      </div>
      <div class="dialog-footer">
        <!-- <button type="button" class="btn close-btn" data-dismiss="modal" (click)="closeModel()">CLOSE</button>
        <button type="button" class="btn submit-btn" (click)="submitForm()">SUBMIT</button> -->
      </div>
    </div>
  </div>
</div>