<div class="header pt-4">
    <app-headers [activePage]="'projects'"></app-headers>
</div>
<div class="project-section">
    <div class="title-text">
        <h1>Good design means <br>
            <span class="text-underline">good business.</span>
        </h1>
        <div class="heading-description">
            <p>We know that good design means good business. We help our clients succeed by </p>
            <p>creating brand identities,digital experiences, and print materials that</p>
            <p>communicate clearly, achieve marketing goals, and look fantastic.</p>
        </div>
    </div>
    <div class="capabilty-section">
        <div class="capabilty-box">
            <img src="../../assets/capability-identity.png" alt="">
            <div class="capability-text">
                <b>Identity</b>
                <p>Brand Strategy</p>
                <p>Logo & Identity</p>
                <p>Brand Style Guides</p>
                <p>Creative & Art Direction</p>
            </div>
        </div>
        <div class="capabilty-box">
            <img src="../../assets/capability-digital.png" alt="">
            <div class="capability-text digital">
                <b>Digital</b>
                <p>UI/UX Strategy & Design</p>
                <p>Responsive Design & Development</p>
                <p>Web & Mobile Applications</p>
            </div>
        </div>
        <div class="capabilty-box">
            <img src="../../assets/capability-print.png" alt="">
            <div class="capability-text print">
                <b>Print</b>
                <p>Stationery Systems</p>
                <p>Promotional Materials</p>
                <p>Wayfinding & Environmental Signage</p>
                <p>Tradeshow Display Systems</p>
            </div>
        </div>
    </div>
    <div class="center-text">
        <h1><span class="text-underline">Learn more</span> about what we can do.</h1>
    </div>
    <!-- PROJECT SHOWCASE -->
    <div class="container">
        <div class="row mt-5 align-items-center">
            <!-- FIRST PROJECT -->
            <div class="col-6 project-text my-5">
                <h3>Foy</h3>
                <div class="project-description">
                    <p>Visual identity, packaging, digital, </p>
                    <p> and print design for a CBD</p>
                    <p> therapeutics start-up.</p>
                </div>
                <p class="project-detail" [routerLink]="['details']"> <span class="text-underline">View</span> project details.</p>
            </div>
            <div class="col-6 project-image my-3">
                <h1> <span class="indentity-underline">Indentity</span> / <span class="digital-underline">Digital</span>
                    /
                    <span class="print-underline">Print</span>
                </h1>
                <img src="../../assets/projects/Portfolio_Foy-Cover-Portfolio-min.png" alt="">
            </div>
            <!-- SECOND PROJECT -->
            <div class="col-6 project-image my-5">
                <h1><span class="digital-underline">Digital</span></h1>
                <img src="../../assets/projects/Portfolio_Harris-Poll_Cover-Project-0b0dfc.png" alt="">
            </div>
            <div class="col-6 project-text my-3 right-content">
                <h3>The Harris Poll</h3>
                <div class="project-description">
                    <p>Custom website design for a global </p>
                    <p> market research leader.</p>
                </div>
                <p class="project-detail" [routerLink]="['details']"> <span class="text-underline">View</span> project details.</p>
            </div>
            <!-- THIRD PROJECT -->
            <div class="col-6 project-text my-5">
                <h3>Gadget Salvation</h3>
                <div class="project-description">
                    <p>Brand strategy, visual identity, and </p>
                    <p>voice for an established electronics</p>
                    <p>marketplace.</p>
                </div>
                <p class="project-detail" [routerLink]="['details']"> <span class="text-underline">View</span> project details.</p>
            </div>
            <div class="col-6 project-image my-3">
                <h1> <span class="indentity-underline">Indentity</span> / <span class="digital-underline">Digital</span>
                </h1>
                <img src="../../assets/projects/Portfolio_Gadget-Salvation_Cover-Portfolio.png" alt="">
            </div>
            <!-- FOURTH PROJECT -->
            <div class="col-6 project-image my-5">
                <h1> <span class="indentity-underline">Indentity</span> / <span class="digital-underline">Digital</span>
                    /
                    <span class="print-underline">Print</span>
                </h1>
                <img src="../../assets/projects/Portfolio_SunFoundation-Cover-Portfolio.png" alt="">
            </div>
            <div class="col-6 project-text my-3 right-content">
                <h3>Sun Foundation</h3>
                <div class="project-description">
                    <p>Visual identity, Squarespace website</p>
                    <p>and print design for an art and</p>
                    <p>environmental sciences non-profit.</p>
                </div>
                <p class="project-detail" [routerLink]="['details']"> <span class="text-underline">View</span> project details.</p>
            </div>
            <!-- FIFTH PROJECT -->
            <div class="col-6 project-text my-5">
                <h3>Rebuilding Exchange</h3>
                <div class="project-description">
                    <p>Brand strategy and visual identity for </p>
                    <p>a non-profit that focuses on</p>
                    <p>reclaimed building materials and</p>
                    <p>workforce development.</p>
                </div>
                <p class="project-detail" [routerLink]="['details']"> <span class="text-underline">View</span> project details.</p>
            </div>
            <div class="col-6 project-image my-3">
                <h1> <span class="indentity-underline">Indentity</span></h1>
                <img src="../../assets/projects/Portfolio_Rebuilding-Exchange-Cover-Portfolio.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="center-text">
        <h1><span class="text-underline">Go to</span> all projects.</h1>
    </div>
    <!-- WORK WITH US SECTION -->
    <div class="workwithus-section">
        <div>
            <h1>Work with us</h1>
            <p>We'd love to talk with you about your next creative endeavor. Send us a note or </p>
            <p> give us a call and let's start a new project together.</p>
            <div class="learn-more-btn">
            <button class="btn">Learn more</button>
        </div>
        </div>
    </div>
</div>