<div class="team-section">
    <div class="mt-4">
        <app-headers [activePage]="'service'"></app-headers>
    </div>
    <div class="row m-0 w-100">
        <div class="mx-auto team-content">
            <div class="heading-text col-sm-12 col-lg-5">
                <h1>We Chase  <br>Extraordinary.</h1>
            </div>
            <hr class="hr-line">
            <div class="right-content col-sm-12 col-lg-5 ml-auto">
                <p>Is it really possible to seek everything?</p>
                <p class="desc-text">Alone, it seems impossible but together it doesn't. We all understand the level of
                    expertise we have
                    in our respective fields and we keep increasing it. Whatever we learn individually, we share with
                    each other. And that's what makes 'Team aalekhan' more powerful.
                </p>
            </div>
            <div class="heading-text col-sm-12 col-lg-7">
                <h1>We are Seekers.<br>We are Alekhans.</h1>
            </div>
            <div class="team-images row mt-5">
                <div class="col-sm-12 col-lg-6 text-center">
                    <img class="member-1" style="max-width: 500px;"
                        src="../../assets/team/nikul.jpg">
                    <div class="member-detail text-center">
                        <h1>Nikul Asodariya</h1>
                        <p>Co-Founder</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 text-center">
                    <img class="member-2"
                        src="../../assets/team/pujan.jpg">
                    <div class="member-detail text-center">                        
                        <h1>Pujan Ramani</h1>
                        <p>Founder and CEO</p>
                    </div>
                </div>
                <div class="mt-5 col-sm-12 col-lg-6 text-center">
                    <img class="member-1"
                        src="../../assets/team/rahika.jpg">
                    <div class="member-detail text-center">
                        <h1>Radhika Varsani</h1>
                        <p>Digital marketing head</p>
                    </div>
                </div>
                <div class="mt-5 col-sm-12 col-lg-6 text-center">
                    <img class="member-2"
                        src="../../assets/team/darshit.jpg">
                    <div class="member-detail text-center">
                        <h1>Darshit sanghani</h1>
                        <p>Graphics designer</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 text-center">
                    <img class="member-1"
                        src="../../assets/temp_human_image.jpg">
                    <div class="member-detail text-center">
                        <h1>Pooja anadkat</h1>
                        <p>Graphics design</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 text-center">
                    <!-- <img class="member-1"
                        src="../../assets/temp_human_image.jpg">
                    <div class="member-detail text-center">
                        <h1>Pooja anadkat</h1>
                        <p>Graphics design</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
