
@media (max-width: 365px) {
    .navbar {
        padding: 0px !important;
    }
    .brand-logo {
        width: 50px !important;
    }
    .footer-logo {
        width: 250px !important;
    }

    .about-popup {
        i {
            font-size: 25px !important;
            padding-top: 4px !important;
        }
    }

    .landing-text {
        h1 {
            font-size: 25px !important;
        }

        p {
            font-size: 55px !important;
            letter-spacing: 2px !important;
            line-height: 89px !important;

        }

        top: 20% !important;
        left: 4% !important;
    }

    .footer-section {
        .left-text {
            h1 {
                font-size: 60px !important;
                margin: 50px 0px 20px 24px !important;
            }
        }

        .rights-text {
            font-size: 10px !important;
        }

        .right-text {
            h1 {
                font-size: 41px !important;
                margin: 0px 10px 40px 15px !important;
            }
        }

        .social-icons {
            span {
                margin: 0px 30px 0px 20px !important;
            }
        }
    }

    .contact-title {
        margin: 18px 0px 20px 10px !important;

        h1 {
            font-size: 60px !important;
            line-height: 60px !important;
        }
    }
    .contact-details {
        padding-left: 0px !important;
    }
}

.landing-page {
    // rgb(254,241,95) primary color
    // position: relative;
    height: 100%;
    background-color: rgb(254, 241, 0, 0.8); //rgba(255, 0, 0, 0.7);
    overflow: hidden;
    height: 750px;
}

.bg-video {
    position: absolute;
    top: -15%;
    object-fit: cover;
    height: 130vh;
    width: 100%;
    z-index: -1;
}

.brand-logo {
    position: absolute;
    width: 80px;
    height: auto;
}
.footer-logo {
    // position: absolute;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.about-popup {
    i {
        font-size: 36px;
        font-weight: bolder;
    }
}

.menu-icon {
    background-color: transparent;
    display: block;
}

.landing-text {
    position: relative;

    h1 {
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
    }

    p {
        color: black;
        font-family: 'Georgia', serif;
        letter-spacing: 5.5px;
        // font-style: italic;
        font-size: 80px;
        font-weight: 600;
    }

    color: white;
    position: absolute;
    top: 40%;
    left: 15%;
    width: auto;
    height: 300px;
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.marquee {
    width: 100%;
    height: 450px;
    padding-top: 80px;
    background-color: #123751;
    overflow: hidden;
}

.marquee-text {
    p {
        padding-top: 55px;
        font-size: 100px;
        letter-spacing: 8px;
        padding-bottom: 35px;
        -webkit-text-stroke: 2px #FBEB39;
        font-family: 'Georgia', serif;
        color: transparent;
    }

    height: 130px;

    span {
        -webkit-text-stroke: 2px whitesmoke;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.contact-btn {
    position: fixed;
    right: 0%;
    bottom: 0%;
    font-weight: bold;
    margin: 40px;
    border-radius: 50%;
    color: #FBEB39;
    background-color: black;
    width: 70px;
    height: 70px;
    transition: 0.5s;

    i {
        font-size: 27px;
    }
}

.contact-btn:hover {
    width: 75px;
    height: 75px;
}

.nav-link {
    transition: 0.5s;
}

.nav-link:hover {
    border-radius: 5px;
    color: white !important;
    color: relinear-gradient(90deg, rgba(10, 0, 36, 1) 0%, rgba(121, 22, 9, 1) 100%, rgba(0, 212, 255, 1) 100%) !important;
    background-color: black;
    width: auto;
}

p[autoTyping]::after {
    content: '|';
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

.service {
    background-color: whitesmoke;
    overflow: hidden;
    width: 100%;

}

.tick-img {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
}

.heading-text {
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 60px;
        font-family: 'Open Sans', sans-serif;
        color: black;
    }

    div {
        width: 200px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        border-top: 4px solid black;
        border-radius: 55%;
    }

    p {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: black;
    }
}

.services-list {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding-right: 100px;
    justify-content: center;
    align-items: center;

    b {
        font-size: 35px;
        color: black;
        transition: 0.3s;
    }

    p {
        font-size: 17px;
        color: dimgray;
    }

    .s-list {
        margin: 15px;
        height: 280px;
        transition: 0.3s;
    }

    .s-list:hover {
        b {
            font-size: 38px;
        }

        border: 1px solid black;
        border-radius: 10px;
        background-color: #FBEB39;

        b {
            color: black;
        }

        p {
            color: black;
        }
    }
}

.client-list {
    height: 430px;
    overflow: hidden;
    position: relative;
}

.client-img {
    width: 250px;
    height: 250px;
    padding-bottom: 7px;
    padding-right: 7px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
}

.clinet-slide {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightslategray;
    border-right: 14px solid rgba(255, 0, 0, 0.7);
    border-bottom: 14px solid rgba(255, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.swipe-button {
    position: absolute;
    top: 64%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
    border: none;
    font-size: 38px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

.swipe-button.left {
    left: 30px;
}

.swipe-button.right {
    right: 30px;
}

.client-detail {
    b {
        font-size: 40px;
        font-weight: 700;
        border-bottom: 5px solid lightgray;
        border-radius: 5px;
    }

    p {
        text-align: start;
    }

    span {
        display: flex;

        i {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            border-radius: 50%;
            background-color: rgba(255, 0, 0, 0.7);
        }
    }
}

// footer style css
.footer-section {
    background-color: #123751;
    align-items: center;
    border-top: 2px solid #FBEB39;
    overflow: hidden;

    .content-section {
        height: 480px;
    }

    .left-text {
        h1 {
            color: whitesmoke;
            font-weight: 800;
            font-size: 140px;
            letter-spacing: 7px;
            font-family: 'Georgia', serif;
            margin: 100px 0px 120px 50px;
        }
    }

    .rights-text {
        color: whitesmoke;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        margin: 70px 0px 0px 70px;
    }

    .right-text {
        h1 {
            color: whitesmoke;
            font-weight: 600;
            font-size: 70px;
            letter-spacing: 4px;
            font-family: 'Georgia', serif;
            margin: 20px 50px 50px 0px;
        }

        margin-top: 150px;
    }

    .social-icons {
        span {
            color: whitesmoke;
            font-size: 35px;
            margin: 0px 50px 0px 40px;
        }

        margin: 100px 70px 30px 0px;
    }

    .other-menus {
        span {
            color: whitesmoke;
            margin: 5px 40px 20px 0px;
        }

        margin-right: 70px;
    }
}

.contact-form {
    overflow: hidden;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    h3 {
        font-size: 24px;
        color: black;
    }
}

::ng-deep .mat-form-field-underline .mat-input-underline {
    border-color: whitesmoke !important;
}

.contact-title {
    margin: 100px 0px 80px 100px;

    h1 {
        font-weight: 800;
        color: black;
        font-size: 80px;
    }

    p {
        margin-top: 40px;
        font-size: 20px;
        color: black;
    }
}

.about-dialog {
    position: fixed;
    overflow: hidden;
    z-index: 222;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;

    .about-brand-logo {
        position: absolute;
        width: 185px;
        height: auto;
        top: -62px;
    }

    .Degree-brand-logo {
        position: absolute;
        width: 85px;
        height: auto;
        top: -62px;
    }

    .about-close {
        margin: 30px;
        font-size: 44px;
        color: white;
    }

    .about-header {
        margin: 20px 20px 60px 20px;
        height: 100px;
    }

    .team-image {
        margin-top: 20px;
        width: 520px;
        height: 360px;
        transition: filter 0.3s ease-in-out;
    }

    .team-image:hover {
        filter: grayscale(100%);
    }

    .contact-text {
        p {
            color: whitesmoke;
            font-size: 24px;
            padding-bottom: 55px;
        }

        h1 {
            font-size: 105px;
            font-weight: 800;
            color: whitesmoke;
            cursor: pointer;
            transition: 0.5s;
        }

        h1:hover {
            letter-spacing: 5px;
            color: #FBEB39;
        }
    }

    .contact-details {
        list-style-type: none;

        li {
            font-size: 24px;
            color: white;
            margin-bottom: 30px;
        }

        .social-handle {
            span {
                font-size: 18px;
                margin-right: 10px;
            }
        }
    }
}

.contact-dialog {
    padding: 20px 30px 20px 30px;
    position: fixed;
    overflow-y: scroll;
    top: 0%;
    left: 0%;
    background-color: lightyellow;
    z-index: 222;
    width: 100%;
    height: 100%;
    // background-color: #125751;

    .contact-title {

        h1,
        p {
            // color: #FBEB39;
            color: #123751;
        }
    }

    mat-radio-button {
        color: black;
        margin-top: 20px;
        font-size: 24px;
        padding-left: 10px;
    }

    .contact-close {
        margin: 40px;
        font-size: 40px;
        color: black;
        border: none;
        background-color: transparent;
    }

    .dialog-footer {
        margin: 30px;

        .close-btn {
            width: 42%;
            height: 50px;
            margin-right: 5px;
            letter-spacing: 2px;
            border-color: black;
            background-color: white;
            font-size: 20px;
            transition: 0.3s;
        }

        .close-btn:hover {
            color: white;
            letter-spacing: 5px;
            background-color: black;
        }

        .submit-btn {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            font-size: 25px;
            letter-spacing: 2px;
            color: #FBEB39;
            border-color: white;
            background-color: black;
            transition: 0.3s;
        }

        .submit-btn:hover {
            color: #FBEB39;
            width: 190px;
            height: 190px;
            border: none;
            letter-spacing: 5px;
            background-color: black;
        }
    }

    .modal-title {
        color: rgba(255, 0, 0, 0.7);
    }
}

.about-list {
    list-style-type: none;

    li {
        font-size: 95px;
        font-weight: 800;
        margin-bottom: 95px;
        color: whitesmoke;
        cursor: pointer;
        transition: 0.5s;
    }

    li:hover {
        letter-spacing: 5px;
        color: #FBEB39;
    }
}

.about-social {
    cursor: pointer;
    transition: 0.5s;
}

.about-social:hover {
    color: #FBEB39;
}

::ng-deep .mat-form-field {
    width: 100% !important;
}

::ng-deep input.mat-input-element {
    font-size: 20px;
}

::ng-deep .mat-slider-thumb {
    background-color: red;
}

::ng-deep .mat-slider-track-fill {
    background-color: red;
}

::ng-deep .mat-slider-horizontsal {
    min-width: 520px !important;
}

::ng-deep .mat-slider {
    width: 520px !important;
}


::ng-deep .mat-mdc-slider {
    width: 100%;
}

/* Extra Small Devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .brand-logo {
        position: relative;
        width: 100px;
        height: auto;
    }

    .nav-link:hover {
        justify-content: center;
        align-items: center;
        width: 110px;
    }

    .landing-page {
        overflow: hidden !important;
    }

    .footer-section {
        overflow: hidden;

        .content-section {
            overflow: hidden;
        }
    }

    .landing-text {
        h1 {
            font-size: 36px;
        }

        p {
            font-size: 85px;
            letter-spacing: 3px;
            line-height: 120px;

        }

        top: 25%;
        left: 6%;
    }

    .heading-text {
        cursor: pointer;

        h1 {
            font-size: 43px;
        }

        p {
            font-size: 18px;
            margin: 0px 26px;
        }
    }

    .services-list {
        margin: 15px;
        padding: 0px;

        b {
            font-size: 27px;
        }

        p {
            font-size: 17px;
            width: 327px;
        }

        .s-list {
            margin: 15px;
            height: 320px;
        }

        .s-list:hover {
            b {
                font-size: 30px;
            }
        }
    }

    .marquee {
        height: 300px;
        padding-top: 20px;
    }

    .marquee-text {
        p {
            font-size: 45px;
            height: 110px;
        }
    }

    .footer-section {
        overflow: hidden;

        .left-text {
            h1 {
                font-size: 70px;
                margin: 70px 0px 20px 24px;
            }
        }

        .rights-text {
            font-size: 16px;
            margin: 70px 0px 0px 20px;
        }

        .right-text {
            overflow: hidden;

            h1 {
                font-size: 60px;
                margin: 20px 10px 50px 15px;
            }

            margin-top: 100px;
        }

        .social-icons {
            span {
                margin: 0px 50px 0px 40px;
            }

            display: flex;
            justify-content: center;
            margin: 65px 0px 30px 0px;
        }

        .other-menus {
            display: flex;
            margin-left: 25px;
            margin-right: 0px;
        }
    }

    // about-us dialog
    .about-dialog {
        overflow-y: scroll;
        height: 100%;

        .about-close {
            margin: 10px;
        }

        .about-header {
            margin: 20px 20px 60px 20px;
            height: 100px;
        }

        .contact-text {
            p {
                color: whitesmoke;
                font-size: 24px;
                padding-bottom: 55px;
            }

            h1 {
                font-size: 75px;
            }
        }

        .about-list {
            li {
                font-size: 65px;
                margin-bottom: 65px;
            }
        }
    }

    // contact us form style
    .contact-dialog {
        overflow-y: scroll;
        overflow-x: hidden;

        .dialog-footer {
            .submit-btn {
                width: 140px;
                height: 140px;
                font-size: 22px;
            }
        }

        .contact-title {
            margin: 100px 0px 80px 40px;

            h1 {
                font-size: 45px;
            }
        }
    }

    .contact-form {
        width: 85%;

        h3 {
            font-size: 22px;
        }
    }
}