<div class="about-dialog">
    <div class="about-header">
      <img class="about-brand-logo float-left" (click)="gotHomePage()" src="../assets/alekhan_icon_white.png" />
      <div class="about-close float-right mr-lg-5" (click)="closeAboutDialog()" style="cursor: pointer;">&#10005;</div>
    </div>
    <div class="row">
      <div class="col-md-4" [ngClass]="screenWidth < 835 ? 'text-left' : 'my-5'">
        <ul class="about-list">
          <li (click)="openAllProjects('/about-us')">About</li>
          <!-- <li routerLink="/team">Team</li>      -->
          <li (click)="openAllProjects('/service')">Service</li>
        </ul>
      </div>
      <div class="col-md-4" [ngClass]="screenWidth < 835 ? 'text-left' : 'my-5'">
        <ul class="about-list">
          <li (click)="openAllProjects('/projects')">Projects</li>
          <!-- <li>Clients</li> -->
        </ul>
      </div>
      <div class="col-md-4">
        <img class="team-image" src="../assets/about-team-image.jpg" />
      </div>
    </div>
    <div class="row ml-4 mt-5">
      <div class="col-md-6 mt-5 contact-text pl-0" [ngClass]="screenWidth < 835 ? 'text-left' : 'text-center'">
        <p>Are you ready for grow your business</p>
        <h1 routerLink="/contact-us">Contact</h1>
      </div>
      <div class="col-md-6 mt-5">
        <ul class="contact-details">
          <li>+91 95376 75005</li>
          <li>
            <p>"Print House" 3 <sup>rd</sup> Floor,</p>
            <p>2/10 Bhaktinagar station plot.</p>
            <p>Rajkot-360 002(Guj). India.</p>
            <p>info&#64;aalekhanbranding.com</p>
          </li>
          <li class="social-handle">
            <span class="about-social" (click)="openSocialAccount($event,'linked-in')">LinkedIn</span>
            <span class="about-social" (click)="openSocialAccount($event,'instagram')">Instagram</span>
            <span class="about-social" (click)="openSocialAccount($event,'pinterest')">Pinterest</span>
            <span class="about-social" (click)="openSocialAccount($event,'behance')">Behance</span>
          </li>
        </ul>
      </div>
    </div>
  </div>